<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="C:\Users\Todor\source\repos\FeastFit\FeastFit\wwwroot\css\site.css" />
</head>

<body>
    <form>
<<<<<<< HEAD
<<<<<<< HEAD
     
=======
>>>>>>> 71dd9fe0105b47d58ab48f123d2ad3b1ee570985
=======
>>>>>>> 71dd9fe0105b47d58ab48f123d2ad3b1ee570985
        <div class="inputBox">
            <p>
                Enter cuisine <input type="text" required="required" name="cuisine" id="cuisine" />
            </p>
            <p>
                Enter query
                <input type="text" required="required" name="query" />
            </p>
            <p>
                Enter Max Calories
                <input type="text" required="required" name="maxCalories" />
            </p>
            <p>
                Enter Minimum Protein
                <input type="text" required="required" name="minProtein" />
            </p>
            <p>
                Enter Minimum Carbohydrates
                <input type="text" required="required" name="minCarbs" />
            </p>
            <button type="submit">Search</button>
        </div>
    </form>
<<<<<<< HEAD
<<<<<<< HEAD
    @if (Model != null)
    {
       
            <table>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.MaxCalories kcal</td>
                        <td>@item.ProteinAmount g</td>
                        <td>@item.CarbAmount g</td>
                        <td>
                            <img src="@item.RecipeImage" alt="@item.Title">
                        </td>
                    </tr>
                }
            </table>
        
     
    }
   
=======
=======
>>>>>>> 71dd9fe0105b47d58ab48f123d2ad3b1ee570985

    @if (Model != null)
    {
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.MaxCalories kcal</td>
                    <td>@item.ProteinAmount g</td>
                    <td>@item.CarbAmount g</td>
                    <td>
                        <img src="@item.RecipeImage" alt="@item.Title">
                    </td>
                </tr>
            }
        </table>
    }
<<<<<<< HEAD
>>>>>>> 71dd9fe0105b47d58ab48f123d2ad3b1ee570985
=======
>>>>>>> 71dd9fe0105b47d58ab48f123d2ad3b1ee570985
</body>
</html>
